* {
  transition: 0.5s;
  font-family: "Do Hyeon", sans-serif;
}
body {
  background-image: url("https://picsum.photos/id/10/1920/1080");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
